* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100vh;
    font-family: 'Inter', sans-serif;
    color: #fff;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.container {
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-content: center;
}

.heading {
    position: relative;
    display: flex;
    padding-top: 3rem;
    gap: 5rem;
    width: 100%;
}

.heading:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #fff;
    transform: scaleX(1);
}

.heading h1 {
    font-size: 4rem;
    width: 50vw;
    /* line-height: 97%; */
    text-align: right;
}

h1 p {
    flex-basis: 0;
    flex-grow: 1;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

p {
    font-size: 1.25rem;
    width: 40vw;
}